@using BeHeard.Extensions
@model BeHeard.Models.DashboardViewModel
@*<link rel="stylesheet" href="~/css/animate/animate.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css.map" />*@

@{

}


<!-- Modal #myProgress -->
<div id="myProgress" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered  modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Your Exercise Progress</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class=" py-2">
                    <p class="mt-4 bg-white p-3" id="losinfo"><i class="fa fa-walking" style="color:blue;"></i> Exercises:  <span id="losinfo">Your program weekly progress.</span></p>
                    <small>Week 1</small>
                    <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 60%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>Week 2</small>
                    <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>Week 3</small>
                    <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>Week 4</small>
                    <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>Week 5</small>
                    <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
                <button type ="button" class="btn btn-primary" data-bs-dismiss="modal">Dismiss</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal #myActivites -->
<div id="myActivities" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Your Exercise Progress</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Dismiss</button>
            </div>
        </div>
    </div>
</div>


<div class="container mb-2 shadow pt-5">

    <!--User Welcome-->

    <div class="container-xxl pb-3 ">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-4 mx-auto">
                    <div class="g-3 vh-20 d-none d-lg-block">
                        <img src="/images/image4.png" class="img-responsive" alt="Responsive image" />
                    </div>
                </div>
                <div class="col-lg-6 pr-lg-2 shadow rounded border bg-white p-lg-3 wow fadeInDown">
                    <h1 class="mb-4">Welcome to <i class="fa fa-book-open" style="color: dodgerblue;"></i> Dashboard</h1>
                    <p class="mb-4"><strong>This is where you will find all information on where you are in your exercises, what activities you have done, and more.</strong></p>
                    <p class="mb-4"><strong>Remember, "practice makes perfect", so check-in here often so you can see how much you've done.'</strong></p>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0">@Model.User.Date.Month / @Model.User.Date.Day</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Day of</p>
                                    <h6 class="text-uppercase mb-0">Last Login</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0"><span class="count-up" data-from="0" data-to="75" data-time="2000"></span></h1>
                                <div class="ps-4">
                                    <p class="mb-0">Total Completed</p>
                                    <h6 class="text-uppercase mb-0">Activities</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a asp-area="" asp-controller="Exercises" asp-action="Index" class="btn btn-primary py-3 px-5 mt-2">Head to Exercises</a>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
    <hr style="width:100%" size="3" color="black">

    <!--User Dashboard Charts-->

    <div class="container py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Your Services</h5>
                <h1 class="mb-5">Explore Your Services</h1>
            </div>
            <div class="row g-4 pb-2">
                <div class="d-flex col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="color-flip rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-chart-bar text-primary mb-4"></i>
                            <h5>Program Progress</h5>
                            <p>This is where you can see how much of your program you have completed</p>
                            <a id="progressNav" href="#myProgressNav" class="stretched-link"> </a>
                        </div>
                    </div>
                </div>
                <div class="d-flex col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="color-flip pt-3" id="color-flip">
                        <div class="p-4">
                            <i class="fa fa-3x fa-award mb-4 text-primary"></i>
                            <h5>Activities</h5>
                            <p>This is where you can see how many of each activity you have completed</p>
                            <a id="activitiesNav" href="#myActivitiesLink" class="stretched-link"> </a>
                        </div>
                    </div>
                </div>
                <div class="d-flex col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="color-flip rounded pt-3">
                        <div class="p-4">
                            <i class="color-flip fa fa-3x fa-user-friends text-primary mb-4"></i>
                            <h5>Resources</h5>
                            <p>You will find here a collection of resources gathered by the Be Heard team to assist you.</p>
                            <a id="myResourceLink" href="#myResource" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="d-flex col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="color-flip rounded pt-3" id="color-flip">
                        <div class="p-4">
                            <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                            <h5>Assistance</h5>
                            <p>E-mail one of the team-members to assist you with whatever issues you might be having.</p>
                            <a id="myContactLink" href="#myContact" class="stretched-link"> </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <!-- Collapse #myResource-->
            <div class="panel-collapse collapse show py-2" id="myResource">
                <div class="card card-body" id="myCollapse1">
                    <h3>Speech Therapist In Your Area</h3>
                      <!-- The slide-out panel for showing place details -->
                      <div id="panel">Click any marker to see details.</div>
                      <!-- Map appears here -->
                      <div id="map" style="height:500px; width:100%;"></div>                
                </div>
            </div>
            <!-- Collapse #myContact-->
            <div class="collapse py-2" id="myContact">
                <div class="card card-body">
                    <form method="post" enctype="multipart/form-data" asp-action="ContactEmail" asp-controller="Dashboard">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="Name" placeholder="Enter Your Name">
                                    <label for="Name">@Model.FullName</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="Email" placeholder="Enter Your Email">
                                    <label for="Email">@Model.User.Email</label>
                                </div>
                            </div>
                             <div class="col-md-12">
                                <div class="form-floating">
                                <input type="text" class="form-control" id="Subject" placeholder="Enter Your Subject">
                                    <label for="Subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="Message" style="height: 150px"></textarea>
                                    <label for="Message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    :root {
        --light: #FF9B6A;
        --dark: #0F172B;
    }

    p#losinfo {
        font-size: 35px;
        font-weight: bold;
    }

        p#losinfo span {
            font-size: 25px;
            font-weight: normal;
        }

    .color-flip {
        box-shadow: 0 0 45px rgba(0, 0, 0, .08);
        transition: .5s;
    }

        .color-flip:hover {
            background: var(--light);
        }
        .color-flip:hover *{
            color: white;
        }
        .color-flip * {
            transition: .5s;
            transform: rotate(0);
        }
        .color-flip:hover h1{
            transform: scale(1.5);
        }


</style>

@section Scripts
{
    <script src="~/js/app.js"></script>
    
<script>
    /* Note: This example requires that you consent to location sharing when
     * prompted by your browser. If you see the error "Geolocation permission
     * denied.", it means you probably did not give permission for the browser * to locate you. */
    let pos;
    let map;
    let bounds;
    let infoWindow;
    let currentInfoWindow;
    let service;
    let infoPane;
    function initMap() {
      // Initialize variables
      bounds = new google.maps.LatLngBounds();
      infoWindow = new google.maps.InfoWindow;
      currentInfoWindow = infoWindow;
      /* TODO: Step 4A3: Add a generic sidebar */
      infoPane = document.getElementById('panel');

      // Try HTML5 geolocation
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(position => {
          pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          map = new google.maps.Map(document.getElementById('map'), {
            center: pos,
            zoom: 15
          });
          bounds.extend(pos);

          infoWindow.setPosition(pos);
          infoWindow.setContent('Location found.');
          infoWindow.open(map);
          map.setCenter(pos);

          // Call Places Nearby Search on user's location
          getNearbyPlaces(pos);
        }, () => {
          // Browser supports geolocation, but user has denied permission
          handleLocationError(true, infoWindow);
        });
      } else {
        // Browser doesn't support geolocation
        handleLocationError(false, infoWindow);
      }
    }

    // Handle a geolocation error
    function handleLocationError(browserHasGeolocation, infoWindow) {
      // Set default location to Sydney, Australia
      pos = { lat: -33.856, lng: 151.215 };
      map = new google.maps.Map(document.getElementById('map'), {
        center: pos,
        zoom: 15
      });

      // Display an InfoWindow at the map center
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
        'Geolocation permissions denied. Using default location.' :
        'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
      currentInfoWindow = infoWindow;

      // Call Places Nearby Search on the default location
      getNearbyPlaces(pos);
    }

    // Perform a Places Nearby Search Request
    function getNearbyPlaces(position) {
      let request = {
        location: position,
        rankBy: google.maps.places.RankBy.DISTANCE,
        keyword: 'Speech Therapist'
      };

      service = new google.maps.places.PlacesService(map);
      service.nearbySearch(request, nearbyCallback);
    }

    // Handle the results (up to 20) of the Nearby Search
    function nearbyCallback(results, status) {
      if (status == google.maps.places.PlacesServiceStatus.OK) {
        createMarkers(results);
      }
    }

    // Set markers at the location of each place result
    function createMarkers(places) {
      places.forEach(place => {
        let marker = new google.maps.Marker({
          position: place.geometry.location,
          map: map,
          title: place.name
        });

        /* TODO: Step 4B: Add click listeners to the markers */
        // Add click listener to each marker
        google.maps.event.addListener(marker, 'click', () => {
          let request = {
            placeId: place.place_id,
            fields: ['name', 'formatted_address', 'geometry', 'rating',
              'website', 'photos']
          };

          /* Only fetch the details of a place when the user clicks on a marker.
           * If we fetch the details for all place results as soon as we get
           * the search response, we will hit API rate limits. */
          service.getDetails(request, (placeResult, status) => {
            showDetails(placeResult, marker, status)
          });
        });

        // Adjust the map bounds to include the location of this marker
        bounds.extend(place.geometry.location);
      });
      /* Once all the markers have been placed, adjust the bounds of the map to
       * show all the markers within the visible area. */
      map.fitBounds(bounds);
    }

    /* TODO: Step 4C: Show place details in an info window */
    // Builds an InfoWindow to display details above the marker
    function showDetails(placeResult, marker, status) {
      if (status == google.maps.places.PlacesServiceStatus.OK) {
        let placeInfowindow = new google.maps.InfoWindow();
        let rating = "None";
        if (placeResult.rating) rating = placeResult.rating;
        placeInfowindow.setContent('<div><strong>' + placeResult.name +
          '</strong><br>' + 'Rating: ' + rating + '</div>');
        placeInfowindow.open(marker.map, marker);
        currentInfoWindow.close();
        currentInfoWindow = placeInfowindow;
        showPanel(placeResult);
      } else {
        console.log('showDetails failed: ' + status);
      }
    }

    /* TODO: Step 4D: Load place details in a sidebar */
    // Displays place details in a sidebar
    function showPanel(placeResult) {
      // If infoPane is already open, close it
      if (infoPane.classList.contains("open")) {
        infoPane.classList.remove("open");
      }

      // Clear the previous details
      while (infoPane.lastChild) {
        infoPane.removeChild(infoPane.lastChild);
      }

      /* TODO: Step 4E: Display a Place Photo with the Place Details */
      // Add the primary photo, if there is one
      if (placeResult.photos) {
        let firstPhoto = placeResult.photos[0];
        let photo = document.createElement('img');
        photo.classList.add('hero');
        photo.src = firstPhoto.getUrl();
        infoPane.appendChild(photo);
      }

      // Add place details with text formatting
      let name = document.createElement('h1');
      name.classList.add('place');
      name.textContent = placeResult.name;
      infoPane.appendChild(name);
      if (placeResult.rating) {
        let rating = document.createElement('p');
        rating.classList.add('details');
        rating.textContent = `Rating: ${placeResult.rating} \u272e`;
        infoPane.appendChild(rating);
      }
      let address = document.createElement('p');
      address.classList.add('details');
      address.textContent = placeResult.formatted_address;
      infoPane.appendChild(address);
      if (placeResult.website) {
        let websitePara = document.createElement('p');
        let websiteLink = document.createElement('a');
        let websiteUrl = document.createTextNode(placeResult.website);
        websiteLink.appendChild(websiteUrl);
        websiteLink.title = placeResult.website;
        websiteLink.href = placeResult.website;
        websitePara.appendChild(websiteLink);
        infoPane.appendChild(websitePara);
      }

      // Open the infoPane
      infoPane.classList.add("open");
    }
  </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPtNCrXg1rFEqv8oR3xrcDkRIekYeXUus&libraries=places&callback=initMap"></script>

    <!--Scripts for Modals-->
    <script type="text/javascript">
        $(function () {

            $('#progressNav').click(function () {
                $('#myProgress').modal('show');
                return false;
            })

        });
    </script>
    <script type="text/javascript">
        $(function () {

            $('#activitiesNav').click(function () {
                $('#myActivities').modal('show');
                return false;
            })

        });
    </script>
    <!--Scripts for collapses -->
    <script>
        $(document).ready(function () {
            $("#myResourceLink").click(function () {
                $("#myContact").collapse("hide");
                $("#myResource").collapse("toggle");
            });
        });

        $(document).ready(function () {
            $("#myContactLink").click(function () {
                $("#myResource").collapse("hide");
                $("#myContact").collapse("toggle");
            });
        });

        $('#myResource').on('shown.bs.collapse', function () {
            this.scrollIntoView();
        });

        $('#myContact').on('shown.bs.collapse', function () {
            this.scrollIntoView();
        });
    </script>

    <!--Script for counter-->
    @*<script type="text/javascript">

        (function ($) {
            $.fn.counter = function () {
                const $this = $(this),
                    numberFrom = parseInt($this.attr('data-from')),
                    numberTo = parseInt($this.attr('data-to')),
                    delta = numberTo - numberFrom,
                    deltaPositive = delta > 0 ? true : false,
                    time = parseInt($this.attr('data-time')),
                    changeTime = 10;

                let currentNumber = numberFrom,
                    value = delta * changeTime / time;
                var interval1;
                const changeNumber = () => {
                    currentNumber += value;
                    //checks if currentNumber reached numberTo
                    (deltaPositive && currentNumber >= numberTo) || (!deltaPositive && currentNumber <= numberTo) ? currentNumber = numberTo : currentNumber;
                    this.text(parseInt(currentNumber));
                    currentNumber == numberTo ? clearInterval(interval1) : currentNumber;
                }

                interval1 = setInterval(changeNumber, changeTime);
            }
        }(jQuery));


        $(document).ready(function () {

            $('.count-up').counter();
            $('.count1').counter();
            $('.count2').counter();
            $('.count3').counter();
            $('.count4').counter();

            new WOW().init();

            setTimeout(function () {
                $('.count5').counter();
            }, 3000);
        });
    </script>*@

    <!--Scripts for charts-->
    <script src="~/js/chart.js"></script>

    <script>
        const data = {
            labels: [
                'Breathing',
                'Bar Chaser',
                'Breathing',
                'Sentences',
                'Freqency'
            ],
            datasets: [{
                label: '@Model.User.FirstName Activity Tracker',
                data: [11, 16, 7, 3, 14],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(75, 192, 192)',
                    'rgb(255, 205, 86)',
                    'rgb(201, 203, 207)',
                    'rgb(54, 162, 235)'
                ]
            }]
        };

        const config = {
            type: 'polarArea',
            data: data,
            options: {}
        };
    </script>
    <script>
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
}