<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Be Heard</title>
    <link rel="stylesheet" href="~/css/main.min.css" />
    <link rel="stylesheet" href="~/css/animate/animate.css" />
</head>
<body>
<section id="app" class="container-fluid">
    <div class="row">
        <section id="SideNav" class="col-sm-12 col-md-1 col-lg-2">
            @await Component.InvokeAsync("Navigation", "side")
        </section>
        <main role="main" class="col-sm-12 col-md-11 col-lg-10">
            @RenderBody()
        </main>
    </div> 
</section>

@*     <div class="container-fluid"> *@
@*     <div class="row flex-nowrap"> *@
@*         <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark"> *@
@*             <div class="sticky-top d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"> *@
@*                 <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"> *@
@*                     <span class="fs-1 d-none d-sm-inline">Be Heard</span> *@
@*                 </a> *@
@*                 <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu"> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link align-middle px-0" asp-area="" asp-controller="Home" asp-action="Index"> *@
@*                             <i class="fs-2 fas fa-house-user"></i> <span class="fs-3 ms-1 d-none d-sm-inline">Home</span> *@
@*                         </a> *@
@*                     </li> *@
@*                     <li> *@
@*                         <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="nav-link px-0 align-middle"> *@
@*                             <i class="fs-2 fas fa-book-open"></i> <span class="fs-3 ms-1 d-none d-sm-inline">Dashboard</span> *@
@*                         </a> *@
@*                     </li> *@
@*                     <li> *@
@*                     <a asp-area="" asp-controller="Exercises" asp-action="Index" class="nav-link px-0 align-middle"> *@
@*                         <i class="fs-2 fas fa-columns"></i> <span class="fs-3 ms-1 d-none d-sm-inline">Exercises</span> *@
@*                     </a> *@
@*                 </ul> *@
@*                 <hr> *@
@*                 <div class="dropdown pb-4"> *@
@*                     <a href="#" class="fs-3 d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"> *@
@*                         <img src="/images/@session.icon" alt="hugenerd" width="80" height="80" class="rounded-circle"> *@
@*                         <span class="fs-3 d-none d-sm-inline mx-4"> *@
@*                             @session.FirstName *@
@*                         </span> *@
@*                     </a> *@
@*                     <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1"> *@
@*                         <li><a class="dropdown-item fs-3" href="/Settings">Settings</a></li> *@
@*                         <li><a class="dropdown-item fs-3" href="/Profile">Profile</a></li> *@
@*                         <li> *@
@*                             <hr class="dropdown-divider"> *@
@*                         </li> *@
@*                         <li><a class="dropdown-item fs-3" asp-area="" asp-controller="Logout" asp-action="Logout">Sign out</a></li> *@
@*                     </ul> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*         <main role="main" class="col pb-3"> *@
@*             @RenderBody() *@
@*         </main> *@
@*     </div> *@
@* </div> *@

<script src="~/js/main.js" asp-append-version="true"></script>
<script src="~/js/wow/wow.min.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>