@using Microsoft.AspNetCore.Http

<!--Exercises-->
@model BeHeard.Models.ExerciseViewModel

@{

}
<!DOCTYPE html>
<html>
<body onload="difficulty_dropdown()">
<br />
<div class="col text-center align-items-center shadow rounded border bg-white wow fadeInDown">
    <h1>Hello @Model.FullName</h1>
    <h2>Exercise - Rote Speech</h2>
</div>
<br />
<div class="container">
    <div class="row text-center align-items-center shadow rounded border bg-white wow fadeInDown">
        <div id="instructions" class="column" style="width:50%;text-align:center;">
            <h3>Directions</h3>
            <p>Choose a difficulty level from the difficulty dropdown on the right.</p>
            <p>Choose your sentence category from the category dropdown on the right.</p>
            <p>Press the randomize button to receive your sentence set.</p>
            <p>Press the start button and begin reading.  Then press the stop button when you're finished.</p>
            <p>Your goal is to speak the sentences clearly and concisely.</p>
            <p>There is a time limit of 30 seconds, but don't worry, time is <strong>not</strong> important.</p>
        </div>
        <div class="column" style="width:50%;text-align:center;">
            <div id="diff_directions">
                <h3>Difficulty</h3>
                <p>Choose the difficulty of the exercise in the dropdown!</p>
            </div>
            <div id="diff_dropdown">
                <label for="difficulties">Difficulty: </label>
                <select name="difficulty" id="diff_option" onchange="difficulty_dropdown()">
                    <option value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                    <option value="Extreme">Extreme</option>
                </select>
            </div>
            <br />
            <div id="diff_alert"></div>
            <br />
            <h3>Sentence Category</h3>
            <p>Choose the category of the exercise in the dropdown!</p>
            <div id="dropdown">
            <label for="rote options">Category:</label>
                <select name="option" id="option">
                    <option value="0">Cities</option>
                    <option value="1">Directions</option>
                    <option value="2">Phone Numbers</option>
                    <option value="3">Common Requests</option>
                    <option value="4">Meal Orders</option>
                </select>
            </div>
            <br />
        </div>
    </div>
    <br />
    <div class="row text-center align-items-center shadow rounded border bg-white wow fadeInDown">
        <div>
            <div id="sentence_id">
                <h3>Choose your sentence!</h3>
                <div id="random_button">
                    <button id="random" type="button" onclick="getSentence()">Randomize</button>
                </div>
                <div id="random_sentence" style="font-size:25px;white-space:pre-line;"></div>
                <br />
            </div>
        </div>
        <br />
        <div>
        <!-- The canvas that will be used to render the input level -->
            <canvas id="meter" width="300" height="50" style="border: 1px solid black;"></canvas>
            <div id="Buttons">
                <button id="startButton" type="button" onclick="start_timer()">Start</button>
                <button id="stopButton" type="button" onclick="Stop()">Stop</button>
                <button id="pauseButton" type="button" onclick="Pause()">Pause</button>
                <button id="resumeButton" type="button" onclick="Resume()">Resume</button>
            </div>
            <br />
        </div>
    </div>
    <br />
    <div class="row text-center align-items-center shadow rounded border bg-white wow fadeInDown">
        <div id="database_area">
            <table style="width:100%;text-align:center;">
                <caption style="caption-side:top;text-align:center;">@Model.FullName, Volume Phrasing Exercise Results</caption>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Difficulty</th>
                        <th>Category</th>
                        <th>Sentence Set</th>
                        <th>Volume Level</th>
                    </tr>
                </thead>
                    @foreach(var activityresults in @Model.ActivityResults)
                    {
                        <tr>
                            <td>@activityresults.Date</td>
                            <td>@activityresults.Difficulty</td>
                            <td>@activityresults.Category</td>
                            <td>@activityresults.SentenceSet</td>
                            <td>@activityresults.Decibel</td>
                        </tr>
                    }
                </table>
        </div>
    </div>
   <br />
    <!-- Exercises -->
    <div class="container-xxl pb-3">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Links</h5>
                <h1 class="mb-5">Other Exercises</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="activity-box text-center rounded overflow-hidden position-relative">
                        <div class="m-4">
                            <h1><i class="fa fa-feather"></i></h1>
                        </div>
                        <h5 class="mb-0">Volume Chasing Exercise</h5>
                        <small>Strengthen the diaphragm</small>
                        <div class="justify-content-center mt-3">
                            <hr />
                            <strong>Click here to traverse to the volume chasing exercise.</strong>
                            <strong>This exercise is to practice using a vowel sound at a target volume.</strong>
                        </div>
                        <a class="stretched-link" asp-area="" asp-controller="Exercises" asp-action="volume_chasing"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="activity-box text-center rounded overflow-hidden position-relative">
                        <div class="m-4">
                            <h1><i class="fa fa-lungs"></i></h1>
                        </div>
                        <h5 class="mb-0">Breathing Exercise</h5>
                        <small>Strengthen the diaphragm</small>
                        <div class="justify-content-center mt-3">
                            <hr />
                            <strong>Click here to traverse to the breathing exercise.</strong>
                            <strong>Good breathing techniques and a strong core will help immensely in your speech.</strong>
                        </div>
                        <a class="stretched-link" asp-area="" asp-controller="Exercises" asp-action="breathing"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="activity-box text-center rounded overflow-hidden position-relative">
                        <div class="m-4">
                            <h1><i class="fa fa-language"></i></h1>
                        </div>
                        <h5 class="mb-0">Phrasing Exercise</h5>
                        <small>Practical Sentences</small>
                        <div class="justify-content-center mt-3">
                            <hr />
                            <strong>Click here to traverse to the phrasing exercise.</strong>
                            <strong>The goal of this exercise is to speak random sentence sets at a standard volume.</strong>
                        </div>
                        <a class="stretched-link" asp-area="" asp-controller="Exercises" asp-action="volume_phrasing"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div>
        <div class="container p-5 my-5 bg-dark text-white">
            <div class="row">
                <h2>Nice Job @Model.FullName!</h2>
                <h3>Keep it up!</h3>
                <h6>Here are some tips for next time!</h6>
                <div class="list-group list-group-flush">
                    <a class="list-group-item">Stand up straight and really fill your belly with air!</a>
                    <a class="list-group-item">Don't mind the timer too much, it's just a guide!</a>
                    <a class="list-group-item">The goal of this is build strong diaphragm support, you're doing great!</a>
                </div>
            </div>
        </div>
    </div> -->
</div>
</body>
</html>

<style>
    /*** Team ***/
    .activity-box {
        box-shadow: 0 0 40px rgba(0, 0, 0, .08);
        height: calc(100% - 250px);
        min-height: 150px;
        transition: .5s;
    }

        .activity-box h1 {
            color: dodgerblue;
            transition: .5s;
        }

        .activity-box:hover h1 {
            transform: scale(1.5);
        }

        .activity-box:hover {
            height: 100%;
        }

        .activity-box .btn {
            border-radius: 38px 38px 0 0;
        }
</style>

@section Scripts
{
    <script type="text/javascript" src="~/js/Exercises/rote_speech.js"></script>
    <script src="~/js/app.js"></script>
}