@model BeHeard.Models.RegistrationViewModel

<section id="RegistrationForm">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div id="FormHeader" class="text-center">
                    <h1>Create A Be Heard Account</h1>
                    <p>Be Heard helps you rehabilitate your speech. Join now to begin.</p>
                </div>
                <form method="post" enctype="multipart/form-data" asp-controller="Login" asp-action="RegisterAccount">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="FirstName"></label>
                            <input type="text" class="form-control" id="FisrtName" aria-describedby="FirstNameHelp" placeholder="First Name" name="FirstName"/>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="LastName"></label>
                            <input type="text" class="form-control" id="LastName" aria-describedby="LastNameHelp" placeholder="Last Name" name="LastName"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-6 col-md-2">
                            <label for="Age"></label>
                            <select class="form-select" aria-label="Select Age" id="Age" name="Age">
                                <option value="0">Age</option>
                                @for (var i = 18; i < 101; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 d-flex align-items-end">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Gender" value="0"/>
                                <label class="form-check-label" for="Gender">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Gender" value="1"/>
                                <label class="form-check-label" for="Gender">Female</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-8">
                            <label for="Street"></label>
                            <input class="form-control" type="text" id="Street" aria-describedby="StreetHelp" placeholder="Street Address" name="Address.Street"/>
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="Apartment"></label>
                            <input class="form-control" type="text" id="Apartment" aria-describedby="ApartmentHelp" placeholder="Apartment / Unit Number" name="Address.Apartment"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group co-sm-12 col-md-6">
                            <label for="City"></label>
                            <input class="form-control" type="text" id="City" aria-describedby="CityHelp" placeholder="City" name="Address.City"/>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="State"></label>
                            <select class="form-select" aria-label="SelectState" id="State" name="Address.State">
                                <option value="">State</option>
                                @foreach (var state in Model.States)
                                {
                                    <option value="@state.Abbreviation">@state.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="from-group col-sm-12 col-md-6">
                            <label for="PostalCode"></label>
                            <input class="form-control" type="text" id="PostalCode" aria-describedby="ZipCodeHelp" placeholder="Zip Code" name="Address.PostalCode"/>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="PhoneNumber"></label>
                            <input class="form-control" type="tel" id="PhoneNumber" aria-describedby="PhoneHelp" placeholder="Phone Number (xxx-xxx-xxxx)" name="PhoneNumber"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="Username"></label>
                            <input type="text" class="form-control" id="Username" aria-describedby="usernameHelp" placeholder="Username" name="Username"/>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="Password"></label>
                            <input type="password" class="form-control" id="Password" aria-describedby="PasswordHelp" placeholder="Password" name="Password"/>
                        </div>
                    </div>
                    <input id="AccountType" type="text"  class="d-none" name="Role" />
                    <div class="col-12 pt-3" id="RegistrationSubmitButtonContainer">
                        <button type="submit" class="btn bh-btn-primary w-100">Submit</button>
                    </div>
                </form>
            </div>
            <div class="d-none d-lg-block col-lg-4">
                <img class="img-fluid" src="@Model.AlexImageUrl" alt="Alex character registration help message" />
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script>
        $(document).ready(function () {
            const params = new Proxy(new URLSearchParams(window.location.search), {
              get: (searchParams, prop) => searchParams.get(prop),
            });
            $('#AccountType').val(params.type);
        });
    </script>
}
